body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

nav>header {
    position: fixed;
    width: 300px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    background-color: white;
}

a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

nav>ul {
    margin-top: 80px;
    height: 88%;
    padding: 0;
    overflow-x: auto;
    overflow-y: 0;
}

nav>ul>li {
    list-style: none;
    border-top: 1px solid;
}

#navbar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

.nav-link {
    margin-left: 0px;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    margin-bottom: 110px;
}

code {
    display: block;
    text-align: left;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {
    nav>header {
        position: absolute;
        width: 100%;
        padding-bottom: 7px;
        border-bottom: 1px solid;
    }
    
    #navbar ul {
        height: 207px;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}